---
import '../styles/index.scss';

import globals from '../content/globals.json';

import Cursor from '../components/Cursor.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Splash from '../components/Splash.astro';
import Canvas from '../components/Canvas.astro';

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// TODO: fix image loading
const images = import.meta.glob('../media/*', { eager: true });
const ogImagePath = `../${globals.siteImage}`;
const ogImage = images[ogImagePath] as { default: { src: string } };
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <!-- TODO: add page title -->
    <title>{globals.siteTitle}</title>
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={canonicalURL} />
    <!-- TODO: remove when going live -->
    <meta name="robots" content="noindex, nofollow" />
    <meta name="description" content={globals.siteDescription} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={globals.siteTitle} />
    <meta property="og:description" content={globals.siteDescription} />
    <meta
      property="og:image"
      content={new URL(ogImage.default.src, Astro.url)}
    />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="de" />
    <link
      rel="preload"
      href="/fonts/Delight-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Delight-Bold.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/Delight-Black.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
    <!-- <script
      is:inline
      defer
      src="https://tracking.jnkl.dev/script.js"
      data-website-id="b44d7dd2-f222-4333-a09d-e66fbe703a6e"
      data-domains="wst-website-new.vercel.app"
      data-do-not-track="true"></script> -->
  </head>
  <body>
    <Cursor />

    <Header />

    <slot />

    <Footer />

    <Splash />

    <Canvas />
    <script>
      import '../scripts/console.ts';
      import '../scripts/scroll.ts';
      import '../scripts/inview.ts';
    </script>
  </body>
</html>
